apiVersion: v1
kind: ConfigMap
metadata:
  name: mlops-config
  namespace: mlops
data:
  MODEL_NAME: "model"
  MODEL_VERSION: "1"
  CACHE_TTL: "3600"
  RUN_PIPELINE: "false"
  GRAFANA_ADMIN_USER: "admin"
  LOCUST_USERS: "100"
  LOCUST_SPAWN_RATE: "10"
  LOCUST_MODE: "standalone"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: mlops
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
